<p-card>
  <div class="p-grid wrapper">
    <div class="p-col-12">
      <input type="text" pInputText [(ngModel)]="batch.id" (keyup)="fixId()" placeholder="id">
    </div>
    <div class="p-col-12">
      <p-selectButton [options]="batchExecutorOptions" [(ngModel)]="batch.executor"></p-selectButton>
    </div>
    <!-- LOGSTASH CONFIG -->
    <ng-container *ngIf="batch.executor != ExecutorEnum.TALEND">
      <div class="p-col-12">
        <p-fileUpload name="myfile[]" auto="true" customUpload="true"
                      (uploadHandler)="uploadHandler($event)"></p-fileUpload>
      </div>
      <div class="p-col-12">
        <textarea cols="200" rows="20" pInputTextarea [(ngModel)]="batch.content"></textarea>
      </div>
    </ng-container>

    <!-- TALEND CONFIG -->
    <ng-container *ngIf="batch.executor == ExecutorEnum.TALEND">
      <div class="p-col-12">
        <label>Path of Talend JAR directory</label>
        <input pInputText type="text" [(ngModel)]="batch.content"/>
      </div>
    </ng-container>

    <br/>
    <app-recurrence-setting [(batch)]="batch"></app-recurrence-setting>
    <br/>
    <div class="p-grid p-col-12">
      <label>Timeout</label>
      <input type="number" min="1" max="600" pInputText [(ngModel)]="batch.timeout"
             placeholder="timeout">
    </div>
    <br/>
    <div class="p-col-12">
      <button pButton type="button" label="Save" (click)="submit()" class="ui-button-success"></button>

    </div>
  </div>

</p-card>
