<h1 *ngIf="errorMsg" class="error">{{errorMsg}}</h1>

<div *ngIf="batches">
  <app-timeline *ngIf="!working" [batches]="batches"></app-timeline>
  <p-skeleton height="99.5px" *ngIf="working"></p-skeleton>
</div>

<div *ngIf="!errorMsg">

  <div class="btn-bar">
    <button pButton icon="pi pi-plus" class="p-button-rounded " [disabled]="errorMsg" (click)="onNewBatch()"></button>
  </div>
    <br />
    <p-table [value]="batches" sortField="id">
        <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
                <th width="90px">Active</th>
              <th pSortableColumn="order" width="90px">Order <p-sortIcon field="order"></p-sortIcon></th>
              <th pSortableColumn="startTime">Start time (HH:mm) <p-sortIcon field="startTime"></p-sortIcon></th>
                <th>Timeout</th>
              <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.id}}</td>
                <td>
                    <p-checkbox [(ngModel)]="item.activated" [disabled]="working" binary="true" (onChange)="save(item)"></p-checkbox>
                </td>
                <td>{{item.order}}</td>
                <td>
                  <div>
                    Start : {{pad(item.startHour)}}:{{pad(item.startMinute)}}<br/>
                    <div class="rec">{{item.recurrence || 'Daily'}}</div>
                    <br/>
                    <ng-container *ngIf="item.recurrence == RecurrenceEnum.Weekly">

                      <ng-container *ngFor="let day of weekOptions;">
                        <div class="day" *ngIf="item?.weekDays?.includes(day.value)">
                        {{day.label}}
                        </div>
                      </ng-container>
                    </ng-container>

                    <div class="day" *ngIf="item.recurrence == RecurrenceEnum.Monthly">
                      All {{item.monthDate}}
                    </div>
                  </div>
                </td>
                <td> <input type="number" min="1" max="600" pInputText [(ngModel)]="item.timeout" [disabled]="working"
                        (ngModelChange)="save(item)" placeholder="timeout"> (min)
                </td>
                <td class="btn-bar">
                    <button pButton type="button" icon="pi pi-play" [disabled]="isLogstashRunning()" class="p-button-rounded p-button-success" (click)="start(item)"></button>
                    <button pButton type="button" icon="pi pi-cog" class="p-button-rounded p-button-warning" (click)="editRest(item)"></button>
                    <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="edit(item)"></button>
                    <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="delete(item)"
                        ></button>

                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog header="New batch" [(visible)]="displayNew">
    <app-batches-create (updated)="ngOnInit(); displayNew = false;"></app-batches-create>
</p-dialog>


<p-dialog header="Edit batch" [(visible)]="displayEdit">
    <app-batches-edit *ngIf="editBatch" [batch]="editBatch" (onFinish)="displayEdit = false;"></app-batches-edit>
</p-dialog>

<p-dialog header="Edit batch" [(visible)]="displayRestEdit" >
    <app-edit-rest-request *ngIf="editBatch" [batch]="editBatch" (onFinish)="displayRestEdit = false;"></app-edit-rest-request>
</p-dialog>

