.day {
  padding: 2px;
  margin: 2px;
  text-align: center;
  background-color: bisque;
  border-radius: 5px;
}

.rec {
  padding: 2px;
  margin: 2px;
  text-align: center;
  background-color: gainsboro;
  border-radius: 5px;
}
