
<h1 *ngIf="errorMsg" class="error">{{errorMsg}}</h1>
<div class="btn-bar">
  <button pButton icon="pi pi-plus" class="p-button-rounded" [disabled]="errorMsg" (click)="displayNew = true"></button>

  <button pButton type="button" icon="pi pi-play" class="p-button-rounded p-button-success" [disabled]="isBusy()" (click)="start()"></button>
  <button pButton type="button" icon="pi pi-power-off" class="p-button-rounded p-button-danger" [disabled]="!isBusy()"  (click)="stop()"></button>

</div>

<div *ngIf="!errorMsg">
    <p-table [value]="pipelines">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Active</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.id}}</td>
                <td>
                    <p-checkbox [(ngModel)]="item.activated" binary="true" (onChange)="save(item)"></p-checkbox>
                </td>
                <td class="btn-bar">
                  <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="edit(item)"></button>
                  <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="delete(item)"></button>

                </td>
            </tr>
        </ng-template>
    </p-table>
</div>



<p-dialog header="Edit pipeline" [(visible)]="displayEdit">
        <app-pipeline-edit [pipeline]="editPipeline"></app-pipeline-edit>
    </p-dialog>

<p-dialog header="Edit pipeline" [(visible)]="displayNew">
  <app-pipline-create *ngIf="!errorMsg" (updated)="ngOnInit()"></app-pipline-create>
</p-dialog>
