.RUNNING {
    color: green;
}
.STOPPED {
    color: gray;
}

.STARTING {
    color: orange;
}

.ERROR {
    color: red;
}

.DONE {
    color: green;
}

.instance-state {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
