<div class="nav">
  <span class="title">Logstasher </span><span class="version">v0.2</span>
</div>

<div class="p-grid">
  <div class="p-col-7">

    <p-tabView>

      <p-tabPanel header="Batches">
        <app-batches></app-batches>
      </p-tabPanel>
      <p-tabPanel header="Pipelines">
        <div class="p-grid">
          <div class="p-col-7">
            <app-pipelines></app-pipelines>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="p-col-5">
    <app-current-queue></app-current-queue>
    <br/>
    <app-execution-archive></app-execution-archive>
  </div>
</div>


<pre style="text-align:center;">Emeric BAVEUX</pre>
