.RUNNING {
    color: green;
}
.STOPPED {
    color: gray;
}

.STARTING {
    color: orange;
}

.ERROR {
    color: red;
}
tr.ERROR {
  background-color: #ffe4e7;
}
tr.STOPPED {
  background-color: #dddddd;
}

.DONE {
    color: green;
}
