/* You can add global styles to this file, and also import other style files */


.btn-bar > button{
  margin: 5px;
  font-size: 12px;
}

.p-component {
  font-size: .95em;
}


body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: .80em .80em !important;
}

.console-error {
  color: red;
}
.console-info {
  color: forestgreen;
}
.console-warn {
  color: orange;
}
