.ERROR {
    background-color: red;
}
.DONE {
    background-color: green;
}

.state {
  display: flex;
  justify-content: center;
  align-items: center;
}

.console {
  overflow: scroll;
  border: 1px solid lightblue;
  height: 40vh;
  width: 60vw;
  border: none;
  background-color: #edf9ff;
  color: #363636;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 1px 1px 4px lightblue;
  font-family: Helvetica;
}

